@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body, html{
    background-image: url("../images/bg.jpg");
    font-family: 'Motserrat', sans-serif;
    background-size: cover;
    /* background: white; */
    font-size: 20px;
    color: #e3e2df;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.row{
   margin: auto;
   /* position: relative; */
}

.registration{
    float: right;
    /* position: absolute; */
    width: 50%;
    background: #00BCD4;
    opacity: 0.9;
    padding-top: 20px;
    color: black;
   margin: 30px auto;
}
 .loginReg{
    margin: 100px auto;
}
.registration h3, h5{
    text-align: center;
}
.registration h5{
    font-weight: 200;
    font-style: italic;
    color:white;
    /* padding-top: 50px; */
}

.registration-form{
    padding: 0 10px 10px 10px;
    /* margin: auto; */
    background: #00BCD4;
}

.registration input{
    display: inline-block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    padding: 10px;
    margin: 2px;
    border-color: #2288dd;
    border-radius: 3px;
}

.registration .name{
    float: left;
}

.registration input:focus{
    border-color: #888;
}

.registration input[type="submit"]{
    border-color: transparent;
    cursor: pointer;
    background: #2288dd;
}

.registration input[type="submit"]:hover{
    background: #17c;
}
.landing{
    height: 100vh;
    /* background: white; */
    width: 50%;
    color: white;
    float: left;
    /* opacity: 0.1; */
}

.welcome{
    margin: 150px auto 100px auto;
    text-align: center;
    padding: 20px;
}
.welcome h3{
    font-size: 30px;
    /* color: #2288dd; */
    font-family: cursive;
    font-style: italic;
    
}
.welcome p{
    font-size: 17px;
}
.landingItems{
    padding-left: 80px;
    align-items: center;
}

.landingBelow{
    display: inline;
    margin-right: 45px;
    font-style: italic;
    align-items: center;
}

footer{
    min-height: 50px;
    background: #00BCD4;
    position: absolute;
    width: 100%;
    display: block;
    bottom: 0;
    text-align: center;
    font-size: 18px;
}
footer p{
    margin: 10px;
}

button{
    outline: none;
}

.login, a:link{
    text-align: center;
    text-decoration: none;
}


.navigation{
    overflow: hidden;
    background-color: #00BCD4;
    width: 100%;
    display: flex;
    margin: 0 0 0 -10px;
    padding: 0 0 0 20px;
}
.navigation p{
    display: block;
    float: left;
    width: 80%;
}

.navigation a{
    color: white;

}
.navigation .logout{
    width: 20%;
}

.navigation button{
    float: right;
    background-color: #D02F31;
    text-decoration: none;
    width: 35%;
    height: 100%;
    margin-right: 9px;
    padding: 0;
    border: none;
    color: white;
}
.session{
    width: 100%;
    /* margin: n; */
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    /* align-items:center; */
    justify-content:center;
    height: 100%;
}
.session button{
    float: right;
    border: none;
    width: 45%;
    height: 30px;
    padding: 5px;
    margin-top: 0;
    border-radius: 10px;
    color: white;
}

.session .book{
    float: left;
    border: none;
    width: 45%;
    height: 30px;
    padding: 5px;
    margin-top: 0;
    border-radius: 10px;
    color: white;
}

.session .reject{
    float:left
}

.session p{
    font-size: 12px;
}

.session a{
    text-decoration: underline;
}

.listUsers{
    background: white;
    height: 50px;
    margin: -20px 0;
    padding-left: 25px;
    color: black;
    /* padding-top:  */
    /* padding: 0 0 20px 20px;
    color: black; */
}

.individualDisplay{
    display: flex;
    height:25px;
    padding: 15px;
    padding-bottom: 4%;
    text-decoration: none;
    width: 96%;
    border-bottom: 2px solid rgb(197, 195, 195);
}
.mentor-div, .buttons {
    width: 48%;
}
.buttons{
    margin: 0 0 0 180px;
    width: 70%;
}
.buttons button{
    float: right;
}

.individualDisplay p{
    display: inline-block;
    text-decoration: none;
    /* width: 115%; */
}

.individualDisplay p[class="mentor"]{
    display: inline-block;
    text-decoration: none;
    width: 115%;
}

.individualDisplay button{
    padding: 10px;
    border: none;
    width: 9em;
    margin: 5px;
}

.unbooked, .book{
    background-color: #7EA9E7;
}

.booked{
    background-color: #02732A;
}

.booked:hover{
    background-color: #02732A;
}

.reject{
    background-color: #B29B00;
    margin-right: 5px;
}
.reject:hover{
    background-color: #B29B00;
}

.accepted{
    background-color: #2196F3;
}

/* style mentor information page */

.info{
    width: 100%;
    margin: 0 auto 0 auto;
    padding:0 35px 0 25px;
}
.info table{
    width: 100%;
    background-color: white;;
    border-spacing: 0.5px;
    color: black;
    
}
.infotable th{
    background-color: white;
    padding-top: 15px;
    margin: 0;
}

.infotable td, th{
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

/* css for the comment section */
.commented{
    border-bottom: 1px solid #5a3d5c;
}
.commented p{
    margin-right: none;
    margin-left: auto;
    font-size: 15px;
}

.commented textarea{
    background: darkgrey;
    text-align: left;
}

.comment{
    background: #888;
    padding: 10px 20px 10px 10px;
}
.comment input, .commented button {
    background: #a72693;
    color: white;
    height: 30px;
    border: none;
}

textarea{
    margin: 10px 60px 0 0;
    width: 100%;
}

/* css for smaller devices */
@media only screen and (max-width: 768px) {

    .navigation{
        display: flex;
    }
    .navigation .logout{
        width: 20%;
    }
    .navigation button{
        width: 100%;
    }
    .registration {
        /* position: relative; */
        /* display: flex; */
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    
    .landing{
        max-height: 30vh;
        width: 100%;
    }
    .welcome{
        margin: 0;
    }
    footer{
        display: none;
    }
    .booked, .unbooked {
        display: block;
    }
    .individualDisplay{
        height: 85px;
        width: 100%;
        padding: 7px;
        vertical-align: middle;
    }
    .individualDisplay p{
        width: 50%;
    }
    .buttons{
        margin: 0 0 0 15%;
    }

    .info{
        width: 100%;
        margin: 0 auto 0 auto;
        background: #bbb;
    }
    .session{
        width: 100%;
    }
  }


  .userCard{
      box-shadow: 0 3px 5px 0 rgb(197, 195, 195);
      width: 240px;
      /* position: absolute; */
      margin: 5px;
      height: 300px;
      justify-content: center;
      /* overflow: hidden; */
  }
  .userCard:hover{
    box-shadow: 0 6px 10px 0 rgb(197, 195, 195);

}
  .userCard img{
      display: block;
     height: 150px;
     width: 150px;
     border-radius: 50%;
     margin-left: auto;
     margin-right: auto;
  }
  
  .userInfo{
      min-height: 30%;;
      padding: 10px;
  }
